.creating-my-own-website-blog-p {
  position: relative;
  width: 100%;
  height: 4274px;
  background-image: url(./public/creating-my-own-website-blog-post-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
